<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsuarioLogarController</servlet-name>
        <servlet-class>controller.UsuarioLogarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>controller.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaController</servlet-name>
        <servlet-class>controller.CategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LegislacaoController</servlet-name>
        <servlet-class>controller.LegislacaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilController</servlet-name>
        <servlet-class>controller.PerfilController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuemSomosController</servlet-name>
        <servlet-class>controller.QuemSomosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoController</servlet-name>
        <servlet-class>controller.ContatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceitaController</servlet-name>
        <servlet-class>controller.ReceitaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DicaController</servlet-name>
        <servlet-class>controller.DicaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioLogarController</servlet-name>
        <url-pattern>/UsuarioLogarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/private/usuarios/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaController</servlet-name>
        <url-pattern>/private/categorias/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegislacaoController</servlet-name>
        <url-pattern>/private/legislacoes/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilController</servlet-name>
        <url-pattern>/private/perfis/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuemSomosController</servlet-name>
        <url-pattern>/private/quemsomos/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoController</servlet-name>
        <url-pattern>/private/contatos/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceitaController</servlet-name>
        <url-pattern>/private/receitas/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DicaController</servlet-name>
        <url-pattern>/private/dicas/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
</web-app>
